/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
:root {
  /* Colores */
  --color-primary: #4CAF50; /* Verde */
  --color-secondary: #2196F3; /* Azul */
  --color-accent: #FFC107; /* Amarillo */
  --color-background: #FFFFFF; /* Blanco */
  --color-text: #212121; /* Gris oscuro */

  /* Tipografías */
  --font-heading: 'Roboto', sans-serif;
  --font-body: "Montserrat", sans-serif;

  /* Espaciados (opcional) */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;

  /* Bordes */
  --border-radius: 8px;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-background);
}

h1, h2, h3{
  font-family: var(--font-heading);
  color: var(--color-primary);
}
h4, h5 {
  font-family: var(--font-heading);
  color: var(--color-secondary);
}